<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %} Car Rent {% endblock %}</title>
  </head>

  <body>
    <div id="header">
      {% block header %}
      <a href="{% url 'index' %}">Home</a>
      <a href="{% url 'create_auto' %}">Create Auto</a>
      <a href="{% url 'create_user' %}">Create User</a>
      {% endblock %}
    </div>
    <br><br>
    <div id="content">{% block content %}{% endblock %}</div>

    <div id="footer">{% block footer %} {% endblock %}</div>
  </body>
</html>
